<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ 'front.main_title' | trans }}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <div id="heimdall"></div>

        {{ encore_entry_script_tags('app') }}
    </body>
</html>
